@inject DropdownService _dropdownService;
@model DropdownViewModel

@{
    ViewData["Title"] = "Dropdown";

    // Enum dropdown items
    var enumDropdownItems = Html.GetEnumSelectList<LogLevelEnum>();

    // Enum dropdown nullable items
    var enumDropdownNullableItems = Html.GetEnumSelectList<LogLevelEnum>()
        .Prepend(new SelectListItem { Value = "", Text = "請選擇" });

    // DB data dropdown items
    var dbDataDropdownItems = _dropdownService.GetActivityDropdownItems();

    // DB data dropdown nullable items
    var dbDataDropdownNullableItems = _dropdownService.GetActivityDropdownItems()
        .Prepend(new SelectListItem { Value = "", Text = "請選擇" });
}

<div class="col-md-4">
    <form method="post">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Enum dropdown</h4>
            </div>
            <div class="card-body">

                <!-- Enum dropdown -->
                <div class="form-group">
                    <label asp-for="@Model.EnumDropdown" class="control-label"></label>
                    <partial name="_RequriedHintPartial" />
                    <select asp-for="@Model.EnumDropdown" class="form-control" asp-items="enumDropdownItems"></select>
                    <span asp-validation-for="@Model.EnumDropdown" class="text-danger"></span>
                </div>

                <!-- Enum dropdown nullable -->
                <div class="form-group">
                    <label asp-for="@Model.EnumDropdownNullable" class="control-label"></label>
                    <select asp-for="@Model.EnumDropdownNullable" class="form-control" asp-items="enumDropdownNullableItems"></select>
                    <span asp-validation-for="@Model.EnumDropdownNullable" class="text-danger"></span>
                </div>

                <!-- Enum dropdown multiple -->
                <div class="form-group">
                    <label asp-for="@Model.EnumDropdownMultiple" class="control-label"></label>
                    <partial name="_RequriedHintPartial" />
                    <select asp-for="@Model.EnumDropdownMultiple" class="form-control" asp-items="enumDropdownItems"></select>
                    <span asp-validation-for="@Model.EnumDropdownMultiple" class="text-danger"></span>
                </div>

                <!-- Enum dropdown nultiple nullable -->
                <div class="form-group">
                    <label asp-for="@Model.EnumDropdownMultipleNullable" class="control-label"></label>
                    <select asp-for="@Model.EnumDropdownMultipleNullable" class="form-control" asp-items="enumDropdownItems"></select>
                    <span asp-validation-for="@Model.EnumDropdownMultipleNullable" class="text-danger"></span>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">DB dropdown</h4>
            </div>
            <div class="card-body">

                <!-- DB data dropdown -->
                <div class="form-group">
                    <label asp-for="@Model.DbDataDropdownId" class="control-label"></label>
                    <partial name="_RequriedHintPartial" />
                    <select asp-for="@Model.DbDataDropdownId" class="form-control" asp-items="dbDataDropdownItems"></select>
                    <span asp-validation-for="@Model.DbDataDropdownId" class="text-danger"></span>
                </div>

                <!--  DB data dropdown nullable -->
                <div class="form-group">
                    <label asp-for="@Model.DbDataDropdownNullableId" class="control-label"></label>
                    <select asp-for="@Model.DbDataDropdownNullableId" class="form-control" asp-items="dbDataDropdownNullableItems"></select>
                    <span asp-validation-for="@Model.DbDataDropdownNullableId" class="text-danger"></span>
                </div>

                <!-- DB data dropdown multipul -->
                <div class="form-group">
                    <label asp-for="@Model.DbDataDropdownMultipleId" class="control-label"></label>
                    <partial name="_RequriedHintPartial" />
                    <select asp-for="@Model.DbDataDropdownMultipleId" class="form-control" asp-items="dbDataDropdownItems"></select>
                    <span asp-validation-for="@Model.DbDataDropdownMultipleId" class="text-danger"></span>
                </div>

                <!-- DB data dropdown multipul nullable -->
                <div class="form-group">
                    <label asp-for="@Model.DbDataDropdownMultipleNullableId" class="control-label"></label>
                    <select asp-for="@Model.DbDataDropdownMultipleNullableId" class="form-control" asp-items="dbDataDropdownItems"></select>
                    <span asp-validation-for="@Model.DbDataDropdownMultipleNullableId" class="text-danger"></span>
                </div>
            </div>

            <div class="card-footer">
                <!-- Submit -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" asp-action="PostIndex">Submit</button>
                </div>
            </div>
        </div>

    </form>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // EnumDropdown select2
            $('#EnumDropdown').select2({ width: '100%', allowClear: true, minimumResultsForSearch: Infinity });

            // EnumDropdownNullable select2
            $('#EnumDropdownNullable').select2({ width: '100%', allowClear: true, minimumResultsForSearch: Infinity });

            // EnumDropdownMultiple select2
            $('#EnumDropdownMultiple').select2({ width: '100%', allowClear: true, minimumResultsForSearch: Infinity })
                .attr('multiple', 'multiple');

            // EnumDropdownMultipleNullable select2
            $('#EnumDropdownMultipleNullable').select2({ width: '100%', allowClear: true, minimumResultsForSearch: Infinity })
                .attr('multiple', 'multiple');

            // DbDataDropdownId select2
            $('#DbDataDropdownId').select2({ width: '100%', allowClear: true, minimumResultsForSearch: Infinity });

            // DbDataDropdownNullableId select2
            $('#DbDataDropdownNullableId').select2({ width: '100%', allowClear: true, minimumResultsForSearch: Infinity });

            // DbDataDropdownMultipleId select2
            $('#DbDataDropdownMultipleId').select2({ width: '100%', allowClear: true, minimumResultsForSearch: Infinity })
                .attr('multiple', 'multiple');

            // DbDataDropdownMultipleNullableId select2
            $('#DbDataDropdownMultipleNullableId').select2({ width: '100%', allowClear: true, minimumResultsForSearch: Infinity })
                .attr('multiple', 'multiple');
        });
    </script>
}
