@model SignInViewModel

@{
    ViewData["Title"] = "Sign In";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <!-- Email -->
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label asp-for="@Model.Password" class="control-label"></label>
                <input asp-for="@Model.Password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" asp-action="SignIn">SignIn</button>
            </div>
        </form>
    </div>
</div>
